body {
  /*background-color: black;*/
  /* background-image: url(red0.png); */
  width: auto;
  font-family: Bree Serif;
}

h1  {
  font-size: 136px;
  color: #780a02;
  text-align: center;
}

.button {
  margin: 0 50%;
}
