body {
  background-color: black;
  width: auto;
  font-family: Bree Serif;
  background-repeat: no-repeat;
  background-size: auto;
}

#header1  {
  font-size: 136px;
  color: #780a02;
  text-align: center;
}

.button {
  margin: 0 50%;
}
